
*.xml
pacote download/projetos_jupyter/.ipynb_checkpoints/AUTOMATIZAÇÃO COMPRAS INÍCIO 18-8-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/AUTOMATIZAÇÃO VENDAS ALPHA-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/CheckGtin-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/cpf_valider-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/func-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/tkinter-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/xml_parser_test v0.035 perfect-checkpoint.ipynb
pacote download/projetos_jupyter/.ipynb_checkpoints/xml_parser_test-checkpoint.ipynb
